@import "base/variables";

// foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;

// Components
// @import "components/navigation";
// @import "components/clock";
@import "components/callout-auth";
@import "components/container";
@import "components/page-title";
@import "components/page-actions";
@import "components/todo";

$space-large: 2.5rem;
$title-color: navy;

.page-title {
  align-items: center;
  color: $title-color;
  margin-top: $space-large;
  margin-bottom: $space-large;
}

input[type=search] {
  box-shadow: none;
}
